<style>
    body {
      margin: 0;
      font-family: sans-serif;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #f0f0f0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .home-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      
      .home-icon:hover {
        opacity: 0.8;
      }
      
  </style>
</head>
<body>
    {% load static %}
  <header>
    <a href="/" class="home-link">
        <img src="{% static 'home_icon.png' %}" alt="Início" class="home-icon" />
      </a>
  </header>

</body>